*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 16px;
}

/* Contenedor completo */
.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/* -- Header -- */
header{
	width: 100%;
	background: url('../img/bg.jpg') #281a0c;
	background-size: cover;
	background-attachment: fixed;
	background-position: center 0;
}

header .contenedor{
	position: relative;
	height: 700px;
}

header .menu {
	width: 100%;
	text-align: right;
}

header .menu a{ 
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin: 40px 20px;
	text-decoration: none;
	position: relative;
}

header .menu a:hover{
	text-decoration: underline;
}

header .textos{
	width: 100%;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -52px;
}

header .textos .nombre{
	font-size: 50px;
	font-weight: 600;
}

header .textos .nombre span{
	font-weight: 300;
}

header .textos h3{
	font-weight: 300;
	font-size: 25px;
	font-style: italic;
}

/* ---- ---- Main ---- ----   */

.main{
	background: url('../img/bg-textura.png');
	background-repeat: repeat;
}

.main .acerca-de .contenedor{
	overflow: visible;
	position: relative;
}

.main .acerca-de .foto{
	width: 80%;
	position: absolute;
	left: 0;
	top: -50px;
	z-index: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}

/* Arreglo sombra debajo de la foto */
.main .acerca-de .foto img{
	vertical-align: top;
	width: 100%;
}

.main .acerca-de article{
	background: #fff;
	padding: 40px;
	width: 50%;
	position: relative;
	top: 500px;
	z-index: 1;
	float: right;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}

.main .acerca-de article h3{
	font-size: 50px;
	font-weight: 300;
	margin-bottom: 40px;
}

.main .acerca-de article p{
	line-height: 28px;
	margin-bottom: 15px;
}

/* --- Menu --- */
.main .menu{
	padding-top: 650px;
	margin-bottom: 50px;
}

.main .menu .titulo{
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}

.main .menu .contenedor-menu,
.main .menu .contenedor-menu2{
	border: 1px solid #000;
	background: transparent;
	padding: 10px;
	overflow: hidden;
}

.main .menu article {
	width: 50%;
	float: left;
	padding: 20px;
}

.main .menu .categoria{
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 40px;
	text-align: center;
}

.main .menu .platillo{
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 4px dotted #000; /* Sera con lineado de puntos debajo de cada plato */
	overflow: hidden;
}

.main .menu .nombre{
	font-size: 20px;
	margin-bottom: 15px;
	float: left;
}

.main .menu .precio{
	font-size: 20px;
	margin-bottom: 15px;
	float: right;
}

.main .menu .descripcion{
	font-size: 16px;
	color: #676767;
	clear: both;
}

/* Galeria de fotos  */
.main .galeria{
	overflow: hidden;
}

.main .galeria .foto{
	width: 25%;
	float: left;
}

/* Imagen inicial opaca */
.main .galeria .foto img{
	width: 100%;
	vertical-align: top;
	opacity: 0.7;
}

/*Hover sobre las imagenes */
.main .galeria .foto:hover img{
	opacity: 1;
	transition: all 0.3s ease;
}

/* Ubicaci贸n */
.main .ubicacion{
	background: #fff;
	padding: 60px 0;
	overflow: hidden;
}

.main .ubicacion .titulo{
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 40px;
}

/* Direccion y horarios de atencion */
.main .ubicacion .direccion{
	float: left;
	width: 50%;
	text-align: left;
}

.main .ubicacion .direccion .calle{
	margin-bottom: 15px;
}

.main .ubicacion .horarios{
	float: right;
	width: 50%;
	text-align: right;
	overflow: hidden;
}

.main .ubicacion .horarios h4{
	text-align: center;
	margin-bottom: 20px;
}

.main .ubicacion .horarios .entre-semana,
.main .ubicacion .horarios .fin-semana{
	width: 50%;
	float: left;
	text-align: center;
}

/* Mapa de ubicaci贸n */
.main .mapa{
	width: 100%;
	overflow: hidden;
}

.main .mapa iframe{
	width: 100%;
	max-height: 600px;
}

/* Footer - Pie de pagina  */

footer{
	background: #000;
}

footer .copyright{
	text-align: center;
	padding: 15px 0;
	color: #fff;
}

/* --Media Queries-- */

/* Maximo de 800px */
@media screen and (max-width: 800px){

	/* Encabezado */

	header .contenedor{
		position: static;
		height: auto;
	}

	header .textos{
		position: static;
		margin: 100px 0;
	}

	header .textos .nombre{
		font-size: 30px;
	}

	header .textos h3{
		font-size: 18px;
	}

	header .menu{
		text-align: center;
	}

	header .menu a{
		margin: 10px 20px;
	}

	/*Acerca de */

	.main .acerca-de .foto{
		width: 100%;
		position: relative;
	}

	.main .acerca-de article{
		position: relative;
		width: 100%;
		top: -50px;
		transform: translate(0px, 0);
	}

	/* Menu de platillos */

	.main .menu{
		padding-top: 300px;
	}

	.main .menu article{
		width: 100%;
	}

	/* Galeria de fotos */
	.main .galeria .foto{
		width: 50%;
	}

	/* Mapa de ubicaci贸n */
	.main .mapa{
		width: 80%;
		margin: auto;
	}
}

/* Maximo de 470px */
@media screen and (max-width: 470px) {
	/* Acerca de */
	.main .acerca-de article h3{
		font-size: 34px;
		margin-bottom: 10px;
	}

	/* Menu de platillos */
	.main .menu article .nombre,
	.main .menu article .precio{
		font-size: 16px;
		line-height: 16px;
	}

	/* Direccion de ubicaci贸n */
	.main .ubicacion .direccion{
		margin-bottom: 15px;
	}

	.main .ubicacion .direccion,
	.main .ubicacion .horarios{
		width: 100%;
		text-align: center;
	}
}